@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --secondary: #374785;
  --secondary-hover: #3b53b3;
  --primary: #F8E9A1;
  --white:#EEEEEE;
  --black:#2B2B2B;
}
